<div class="container text-center">
  <h1 class="text-white">
    Top 100 Cryptos | Bitcoin Price Chart
  </h1>
  <hr class="bg-white">
  <h4 class="text-white">Market Cap: <span class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.total_market_cap_by_available_supply_usd | currency"></span> | 24h Vol. <span  class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.total_volume_usd | currency"> </span> | BTC Dominance: <span class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.bitcoin_percentage_of_market_cap * .01 | percent: '1.1-2'"></span></h4>
  <hr class="bg-white">
 
  <router-outlet></router-outlet>
</div>

