<div class="card text-white bg-dark mb-3 borderWhiteAll">
    <div class="card-header borderWhiteBottom">
        <h3>Filters</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <label for="growth" class="font-weight-bold">Show Growth</label>
                <select id="growth" class="form-control" [(ngModel)]="percentChange"  (ngModelChange)="filterCryptos()">
                    <option value="All">All</option>
                    <option value="Positive">Positive</option>
                    <option value="Negative">Negative</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="limit" class="font-weight-bold">Show Only</label>
                <select id="limit" class="form-control" [(ngModel)]="showAmount" (ngModelChange)="filterCryptos()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="priceunit" class="font-weight-bold">Price Unit</label>
                <select id="priceunit" class="form-control" [(ngModel)]="priceUnit" (ngModelChange)="filterCryptos()">
                    <option value="USD">USD</option>
                    <option value="BTC">BTC</option>
                </select>

            </div>            
        </div>
    </div>
</div>